<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKo7dKD1V97LBmig_NjjWG_CvmPIlRFiY</string>
	<key>GCM_SENDER_ID</key>
	<string>642153987831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialmediaapv2</string>
	<key>PROJECT_ID</key>
	<string>minimal-social-app2</string>
	<key>STORAGE_BUCKET</key>
	<string>minimal-social-app2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642153987831:ios:c2f5ce34a2578d4d351df2</string>
</dict>
</plist>